[user]
  name = itinao
  email = itinao@gmail.com
[core]
  autocrlf = input
[diff]
  tool = vimdiff
[alias]
  dt = difftool
  mt = mergetool
  st = status
  co = checkout
  br = branch
  ci = commit
  tree = log --graph --pretty=‘format:%C(yellow)%h%C(blue)%d%C(reset) %s %C(cyan)%an, %ar%C(reset)’
[difftool]
  prompt = false
[merge]
  tool = vimdiff
